<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Vid</h1>
		<p>This is my first Ruby on Rails application.</p>
		<p>..................................................................</p>
		<p>................................................................................</p>
	</div>
</div>