<% @posts.each do |post| %>
	<div class="post_wrapper">
		<h2 class="title"><%= link_to post.title, post %></h2>
		<div id="image"><%= image_tag post.image.url(:thumb) %></div>
		<p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
	</div>
	
<% end %>	

